.snackbar{
    width: 30em;
    height: 4em;
    position: absolute;
    right: 5%;
    bottom: 5px;
    display: flex;
    align-items: center ;
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
    transition: all 0.17s linear;
}
.message{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.status{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.xIcon{
    width: 10%;
}