.searchInput{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 4px;
    gap: 0.3em;
    padding: 2px 4px;
}
.searchInput input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
.searchInput .searchIcon{
    cursor: pointer;
}